Flask==3.0.3
Werkzeug==3.0.5
flask-cors==6.0.1
PyMySQL==1.2.0
bcrypt
gunicorn==23.0.0

mediapipe==0.10.21
opencv-python==4.12.0.88
opencv-contrib-python==4.11.0.86
numpy==1.26.4

matplotlib==3.10.7
pandas==2.3.3
joblib==1.4.2
scikit-learn

pywin32==306; sys_platform == "win32"
